// Define all color attributes in here

/* -------------------------------------------------------------------------- */
// Dark theme colors

// layout Colors
$dark-layout-bg-color: #666;
$dark-layout-txt-color: #fff;

// Navbars Colors
$dark-navbar-bg-color: #333;

// List color
$dark-list-item-link-color: #ccc;
$dark-list-item-link-hover-color: #fff;